# Compiled class file
*.class

# Log files
*.log

# Blueprints
*.pdf

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.oracle.com/technetwork/java/javase/troubleshoot-135310.html#g6124
hs_err_pid*
replay_pid*

# Maven
target/
target-cli/
.mvn/wrapper/maven-wrapper.jar
/release.properties
/pom.xml.releaseBackup
/pom.xml.utilsBackup
/pom.xml.vBackup
/pom.xml.next
/release.properties
/dependency-reduced-pom.xml
/buildNumber.properties
/.mvn/timing.properties
/.mvn/wrapper/maven-wrapper.jar

# Sensitive Files
.env
.env.local
.env.*
secrets/
*firebase-service-account.json

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
