# Common ignores
.DS_Store
*.log

# Backend specific
clinica-backend/target/
clinica-backend/target-cli/
clinica-backend/.mvn/
clinica-backend/.env*
clinica-backend/secrets/

# Frontend specific
clinica-frontend/.dart_tool/
clinica-frontend/.flutter-plugins*
clinica-frontend/build/
clinica-frontend/.env*
clinica-frontend/*.jks
clinica-frontend/*.key
clinica-frontend/*.pem

# Other
.idea/
.vscode/
*.swp
